:root {
    --primary-green: #4CAF50; 
    --dark-green: #2E7D32;    
    --light-bg: #f8f9fa;      
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--light-bg);
}

/* --- Navbar --- */
.navbar {
    background-color: white;
    box-shadow: 0 2px 15px rgba(0,0,0,0.05); 
}
.navbar-brand {
    font-weight: 800; 
    color: var(--dark-green) !important;
    font-size: 1.5rem;
}
.nav-link {
    font-weight: 500;
    color: #555 !important;
}
.nav-link.active {
    color: var(--primary-green) !important;
}

/* --- Tombol Kategori --- */
.category-btn {
    border-radius: 50px;
    padding: 8px 25px;
    margin: 5px;
    border: 2px solid var(--primary-green);
    color: var(--primary-green);
    background: rgb(237, 255, 230);
    font-weight: 600;
    transition: all 0.3s; 
}
.category-btn.active, .category-btn:hover {
    background-color: var(--primary-green);
    color: white;
    box-shadow: 0 4px 10px rgba(76, 175, 80, 0.3);
}

/* --- Kartu Produk --- */
.product-card {
    border: none;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    background: white;
    cursor: pointer;
    overflow: hidden;
}
.product-card:hover {
    transform: translateY(-8px); 
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.card-img-top {
    height: 220px; 
    object-fit: cover; 
    background-color: #f0f0f0;
}
.price-tag {
    color: var(--dark-green);
    font-weight: 800;
    font-size: 1.2rem;
}

/* --- Modal Detail Produk --- */
.modal-content {
    border-radius: 20px;
    overflow: hidden;
    border: none;
}
.product-detail-img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    object-fit: cover;
}
.detail-container {
    padding: 40px;
}
.detail-title {
    font-weight: 800;
    color: #333;
}
.detail-price {
    font-size: 2rem;
    color: var(--primary-green);
    font-weight: bold;
    margin: 10px 0;
}

/* --- Selector Jumlah Produk --- */
.qty-selector {
    display: flex;
    align-items: center;
    border: 2px solid #eee;
    width: fit-content;
    border-radius: 10px;
}
.qty-btn {
    background: none;
    border: none;
    padding: 5px 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-green);
    cursor: pointer;
}
.qty-input {
    width: 50px;
    text-align: center;
    border: none;
    font-weight: bold;
    color: #333;
}
.qty-input:focus {
    outline: none;
}

/*--- Tombol Beli dan Keranjang --- */
.btn-buy {
    background-color: var(--primary-green);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: 700;
    transition: background 0.2s;
}
.btn-buy:hover {
    background-color: var(--dark-green);
}
.btn-cart {
    background-color: #e8f5e9;
    color: var(--dark-green);
    border: 2px solid #e8f5e9;
    padding: 12px;
    border-radius: 10px;
    font-weight: 700;
}
.btn-cart:hover {
    border-color: var(--primary-green);
    background-color: white;
}